<a href="https://colab.research.google.com/github/gfeyzakorkmaz/Tries/blob/main/Pandas9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

path = '/content/drive/MyDrive/Dataset/complex_marketing_data_enriched.xlsx'

df = pd.read_excel(path)
df.head()

,Customer ID,Age,Gender,Total Spent,Converted,Comments,Purchased Category,Stock,Region,Income Level,...,Campaign,Return Rate (%),Website Visit Frequency,Average Cart Value,Total Spent Diff,Spending Rank,Rolling Return Rate,High Spender,Customer Tenure Quarter,Customer Word Count
0,1,23,F,150,1,Satisfied with the service,Clothing,4,East,Medium,...,Winter Sale,2.981829,3,378.00,NaN,19.0,NaN,No,Q1,0
1,2,35,M,600,1,Needs improvement in delivery,Beauty,86,West,Low,...,Summer Sale,1.833412,6,315.52,450.0,6.0,NaN,Yes,Q3,0
2,3,45,F,800,0,Regular customer,Books,24,North,Medium,...,Black Friday,6.547401,0,250.69,200.0,1.0,3.787547,Yes,Q3,1
3,4,52,M,200,0,Occasional buyer,Beauty,10,East,Medium,...,Winter Sale,3.923717,1,222.58,-600.0,18.0,4.101510,No,Q2,0
4,5,29,F,300,1,High spender,Books,47,East,Medium,...,Winter Sale,2.306644,4,298.68,100.0,15.0,4.259254,No,Q3,0

In [2]:
df['Spending Percentage'] = (df['Total Spent'] / df['Total Spent'].sum()) * 100
print("\n1. Spending Percentage for each customer:\n", df[['Customer ID', 'Spending Percentage']])

1. Spending Percentage for each customer:
     Customer ID  Spending Percentage
0             1             1.681614
1             2             6.726457
2             3             8.968610
3             4             2.242152
4             5             3.363229
5             6             5.044843
6             7             7.511211
7             8             1.345291
8             9             5.605381
9            10             8.408072
10           11             6.838565
11           12             3.251121
12           13             4.484305
13           14             3.587444
14           15             5.717489
15           16             3.923767
16           17             6.165919
17           18             7.847534
18           19             2.802691
19           20             4.484305

In [3]:
df['Normalized Return Rate'] = (df['Return Rate (%)'] - df['Return Rate (%)'].min()) / (df['Return Rate (%)'].max() - df['Return Rate (%)'].min())
print("\n2. Normalized Return Rate:\n", df[['Customer ID', 'Normalized Return Rate']])

2. Normalized Return Rate:
     Customer ID  Normalized Return Rate
0             1                0.207820
1             2                0.000000
2             3                0.853053
3             4                0.378266
4             5                0.085637
5             6                0.254325
6             7                0.163858
7             8                0.621685
8             9                0.783717
9            10                0.894330
10           11                0.896713
11           12                0.846284
12           13                0.498054
13           14                0.347381
14           15                0.027195
15           16                0.971021
16           17                0.508707
17           18                0.424505
18           19                1.000000
19           20                0.247949

In [4]:
df['Age Group'] = pd.cut(df['Age'], bins=[0, 25, 40, 60], labels=['Young', 'Middle-aged', 'Older'])
print("\n3. Age Groups:\n", df[['Customer ID', 'Age', 'Age Group']])

3. Age Groups:
     Customer ID  Age    Age Group
0             1   23        Young
1             2   35  Middle-aged
2             3   45        Older
3             4   52        Older
4             5   29  Middle-aged
5             6   41        Older
6             7   38  Middle-aged
7             8   27  Middle-aged
8             9   50        Older
9            10   33  Middle-aged
10           11   40  Middle-aged
11           12   24        Young
12           13   48        Older
13           14   32  Middle-aged
14           15   36  Middle-aged
15           16   28  Middle-aged
16           17   42        Older
17           18   35  Middle-aged
18           19   50        Older
19           20   25        Young

In [5]:
df['High Discount'] = df['Discount Availed'].apply(lambda x: 'Yes' if x > 50 else 'No')
print("\n4. High Discount Flag:\n", df[['Customer ID', 'Discount Availed', 'High Discount']])

4. High Discount Flag:
     Customer ID  Discount Availed High Discount
0             1                46            No
1             2                61           Yes
2             3                50            No
3             4                54           Yes
4             5                63           Yes
5             6                 2            No
6             7                50            No
7             8                 6            No
8             9                20            No
9            10                72           Yes
10           11                38            No
11           12                17            No
12           13                 3            No
13           14                88           Yes
14           15                59           Yes
15           16                13            No
16           17                 8            No
17           18                89           Yes
18           19                52           Yes
19           20                 1            No

In [6]:
df['Cumulative Spending'] = df['Total Spent'].cumsum()
print("\n5. Cumulative Spending:\n", df[['Customer ID', 'Total Spent', 'Cumulative Spending']])

5. Cumulative Spending:
     Customer ID  Total Spent  Cumulative Spending
0             1          150                  150
1             2          600                  750
2             3          800                 1550
3             4          200                 1750
4             5          300                 2050
5             6          450                 2500
6             7          670                 3170
7             8          120                 3290
8             9          500                 3790
9            10          750                 4540
10           11          610                 5150
11           12          290                 5440
12           13          400                 5840
13           14          320                 6160
14           15          510                 6670
15           16          350                 7020
16           17          550                 7570
17           18          700                 8270
18           19          250                 8520
19           20          400                 8920

In [7]:
correlation = df['Age'].corr(df['Total Spent'])
print("\n6. Correlation between Age and Total Spent:\n", correlation)

6. Correlation between Age and Total Spent:
 0.2449553080121492

In [8]:
df['Purchased Category'].fillna('Unknown', inplace=True)
print("\n7. Filled Missing 'Purchased Category':\n", df[['Customer ID', 'Purchased Category']])

7. Filled Missing 'Purchased Category':
     Customer ID Purchased Category
0             1           Clothing
1             2             Beauty
2             3              Books
3             4             Beauty
4             5              Books
5             6              Books
6             7         Home Goods
7             8         Home Goods
8             9        Electronics
9            10           Clothing
10           11         Home Goods
11           12         Home Goods
12           13             Beauty
13           14        Electronics
14           15        Electronics
15           16        Electronics
16           17              Books
17           18           Clothing
18           19              Books
19           20         Home Goods

<ipython-input-8-c7d6e56be8fe>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Purchased Category'].fillna('Unknown', inplace=True)

In [9]:
high_spenders = df[df['Total Spent'] > 500]
print("\n8. High Spenders (Total Spent > 500):\n", high_spenders)

8. High Spenders (Total Spent > 500):
     Customer ID  Age Gender  Total Spent  Converted  \
1             2   35      M          600          1
2             3   45      F          800          0
6             7   38      F          670          1
9            10   33      M          750          1
10           11   40      F          610          1
14           15   36      F          510          1
16           17   42      F          550          0
17           18   35      M          700          1

                           Comments Purchased Category  Stock Region  \
1     Needs improvement in delivery             Beauty     86   West
2                  Regular customer              Books     24  North
6           Prefers online shopping         Home Goods     69  North
9              High conversion rate           Clothing     45  South
10                   Low engagement         Home Goods     68   East
14                 Enjoys discounts        Electronics     55   West
16           Needs more information              Books     92   West
17  Satisfied with customer service           Clothing     87   West

   Income Level  ...  Spending Rank  Rolling Return Rate High Spender  \
1           Low  ...            6.0                  NaN          Yes
2        Medium  ...            1.0             3.787547          Yes
6           Low  ...            4.0             2.761452          Yes
9        Medium  ...            2.0             6.069533          Yes
10          Low  ...            5.0             6.576136          Yes
14         High  ...            8.0             3.440802          Yes
16       Medium  ...            7.0             4.609174          Yes
17         High  ...            3.0             5.341021          Yes

    Customer Tenure Quarter  Customer Word Count  Spending Percentage  \
1                        Q3                    0             6.726457
2                        Q3                    1             8.968610
6                        Q2                    0             7.511211
9                        Q1                    0             8.408072
10                       Q1                    0             6.838565
14                       Q1                    0             5.717489
16                       Q2                    0             6.165919
17                       Q2                    1             7.847534

    Normalized Return Rate    Age Group  High Discount Cumulative Spending
1                 0.000000  Middle-aged            Yes                 750
2                 0.853053        Older             No                1550
6                 0.163858  Middle-aged             No                3170
9                 0.894330  Middle-aged            Yes                4540
10                0.896713  Middle-aged             No                5150
14                0.027195  Middle-aged            Yes                6670
16                0.508707        Older             No                7570
17                0.424505  Middle-aged            Yes                8270

[8 rows x 27 columns]

In [10]:
region_avg_discount = df.groupby('Region')['Discount Availed'].mean()
print("\n9. Average Discount Availed by Region:\n", region_avg_discount)

9. Average Discount Availed by Region:
 Region
East     36.666667
North    29.750000
South    72.000000
West     45.166667
Name: Discount Availed, dtype: float64

In [11]:
sorted_df = df.sort_values(by='Total Spent', ascending=False)
print("\n10. Data Sorted by Total Spent (Descending):\n", sorted_df)

10. Data Sorted by Total Spent (Descending):
     Customer ID  Age Gender  Total Spent  Converted  \
2             3   45      F          800          0
9            10   33      M          750          1
17           18   35      M          700          1
6             7   38      F          670          1
10           11   40      F          610          1
1             2   35      M          600          1
16           17   42      F          550          0
14           15   36      F          510          1
8             9   50      F          500          0
5             6   41      M          450          0
12           13   48      F          400          1
19           20   25      F          400          1
15           16   28      M          350          1
13           14   32      M          320          0
4             5   29      F          300          1
11           12   24      M          290          0
18           19   50      F          250          0
3             4   52      M          200          0
0             1   23      F          150          1
7             8   27      M          120          1

                           Comments Purchased Category  Stock Region  \
2                  Regular customer              Books     24  North
9              High conversion rate           Clothing     45  South
17  Satisfied with customer service           Clothing     87   West
6           Prefers online shopping         Home Goods     69  North
10                   Low engagement         Home Goods     68   East
1     Needs improvement in delivery             Beauty     86   West
16           Needs more information              Books     92   West
14                 Enjoys discounts        Electronics     55   West
8                Loyal to the brand        Electronics     86   East
5                Average experience              Books     86   West
12                 Frequent shopper             Beauty      0   East
19                 Likes the design         Home Goods     68   East
15               Enjoys the product        Electronics     13  North
13             Unhappy with returns        Electronics     85   East
4                      High spender              Books     47   East
11   Satisfied with product quality         Home Goods     38   East
18                   Not interested              Books     21   West
3                  Occasional buyer             Beauty     10   East
0        Satisfied with the service           Clothing      4   East
7                      New customer         Home Goods      0  North

   Income Level  ...  Spending Rank  Rolling Return Rate High Spender  \
2        Medium  ...            1.0             3.787547          Yes
9        Medium  ...            2.0             6.069533          Yes
17         High  ...            3.0             5.341021          Yes
6           Low  ...            4.0             2.761452          Yes
10          Low  ...            5.0             6.576136          Yes
1           Low  ...            6.0                  NaN          Yes
16       Medium  ...            7.0             4.609174          Yes
14         High  ...            8.0             3.440802          Yes
8        Medium  ...            9.0             4.724000           No
5        Medium  ...           10.0             3.156393           No
12          Low  ...           11.5             5.961443           No
19       Medium  ...           11.5             4.914083           No
15         High  ...           13.0             4.312011           No
13         High  ...           14.0             4.949570           No
4        Medium  ...           15.0             4.259254           No
11          Low  ...           16.0             6.691386           No
18       Medium  ...           17.0             5.394401           No
3        Medium  ...           18.0             4.101510           No
0        Medium  ...           19.0                  NaN           No
7           Low  ...           20.0             3.748857           No

    Customer Tenure Quarter  Customer Word Count  Spending Percentage  \
2                        Q3                    1             8.968610
9                        Q1                    0             8.408072
17                       Q2                    1             7.847534
6                        Q2                    0             7.511211
10                       Q1                    0             6.838565
1                        Q3                    0             6.726457
16                       Q2                    0             6.165919
14                       Q1                    0             5.717489
8                        Q3                    0             5.605381
5                        Q3                    0             5.044843
12                       Q2                    0             4.484305
19                       Q1                    0             4.484305
15                       Q3                    0             3.923767
13                       Q1                    0             3.587444
4                        Q3                    0             3.363229
11                       Q1                    0             3.251121
18                       Q2                    0             2.802691
3                        Q2                    0             2.242152
0                        Q1                    0             1.681614
7                        Q1                    1             1.345291

    Normalized Return Rate    Age Group  High Discount Cumulative Spending
2                 0.853053        Older             No                1550
9                 0.894330  Middle-aged            Yes                4540
17                0.424505  Middle-aged            Yes                8270
6                 0.163858  Middle-aged             No                3170
10                0.896713  Middle-aged             No                5150
1                 0.000000  Middle-aged            Yes                 750
16                0.508707        Older             No                7570
14                0.027195  Middle-aged            Yes                6670
8                 0.783717        Older             No                3790
5                 0.254325        Older             No                2500
12                0.498054        Older             No                5840
19                0.247949        Young             No                8920
15                0.971021  Middle-aged             No                7020
13                0.347381  Middle-aged            Yes                6160
4                 0.085637  Middle-aged            Yes                2050
11                0.846284        Young             No                5440
18                1.000000        Older            Yes                8520
3                 0.378266        Older            Yes                1750
0                 0.207820        Young             No                 150
7                 0.621685  Middle-aged             No                3290

[20 rows x 27 columns]