<a href="https://colab.research.google.com/github/gfeyzakorkmaz/Tries/blob/main/Pandas5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/MyDrive/Dataset/complex_marketing_data_enriched.xlsx'

In [4]:
df = pd.read_excel(path)

In [5]:
df['Total Spent Diff'] = df['Total Spent'].diff()
print("1. Difference in Total Spent:\n", df[['Customer ID', 'Total Spent', 'Total Spent Diff']])

1. Difference in Total Spent:
     Customer ID  Total Spent  Total Spent Diff
0             1          150               NaN
1             2          600             450.0
2             3          800             200.0
3             4          200            -600.0
4             5          300             100.0
5             6          450             150.0
6             7          670             220.0
7             8          120            -550.0
8             9          500             380.0
9            10          750             250.0
10           11          610            -140.0
11           12          290            -320.0
12           13          400             110.0
13           14          320             -80.0
14           15          510             190.0
15           16          350            -160.0
16           17          550             200.0
17           18          700             150.0
18           19          250            -450.0
19           20          400             150.0

In [6]:
df['Spending Rank'] = df['Total Spent'].rank(ascending=False)
print("\n2. Spending Rank:\n", df[['Customer ID', 'Total Spent', 'Spending Rank']])

2. Spending Rank:
     Customer ID  Total Spent  Spending Rank
0             1          150           19.0
1             2          600            6.0
2             3          800            1.0
3             4          200           18.0
4             5          300           15.0
5             6          450           10.0
6             7          670            4.0
7             8          120           20.0
8             9          500            9.0
9            10          750            2.0
10           11          610            5.0
11           12          290           16.0
12           13          400           11.5
13           14          320           14.0
14           15          510            8.0
15           16          350           13.0
16           17          550            7.0
17           18          700            3.0
18           19          250           17.0
19           20          400           11.5

In [7]:
df['Rolling Return Rate'] = df['Return Rate (%)'].rolling(window=3).mean()
print("\n3. Rolling Mean of Return Rate:\n", df[['Customer ID', 'Return Rate (%)', 'Rolling Return Rate']])

3. Rolling Mean of Return Rate:
     Customer ID  Return Rate (%)  Rolling Return Rate
0             1         2.981829                  NaN
1             2         1.833412                  NaN
2             3         6.547401             3.787547
3             4         3.923717             4.101510
4             5         2.306644             4.259254
5             6         3.238817             3.156393
6             7         2.738895             2.761452
7             8         5.268858             3.748857
8             9         6.164246             4.724000
9            10         6.775497             6.069533
10           11         6.788665             6.576136
11           12         6.509996             6.691386
12           13         4.585668             5.961443
13           14         3.753045             4.949570
14           15         1.983693             3.440802
15           16         7.199294             4.312011
16           17         4.644536             4.609174
17           18         4.179233             5.341021
18           19         7.359433             5.394401
19           20         3.203584             4.914083

In [8]:
converted_medium_income = df[(df['Converted'] == 1) & (df['Income Level'] == 'Medium')]
print("\n4. Filtered Data (Converted & Medium Income):\n", converted_medium_income)

4. Filtered Data (Converted & Medium Income):
     Customer ID  Age Gender  Total Spent  Converted  \
0             1   23      F          150          1
4             5   29      F          300          1
9            10   33      M          750          1
19           20   25      F          400          1

                      Comments Purchased Category  Stock Region Income Level  \
0   Satisfied with the service           Clothing      4   East       Medium
4                 High spender              Books     47   East       Medium
9         High conversion rate           Clothing     45  South       Medium
19            Likes the design         Home Goods     68   East       Medium

    Discount Availed  Customer Tenure (Years)     Campaign  Return Rate (%)  \
0                 46                        4  Winter Sale         2.981829
4                 63                       12  Winter Sale         2.306644
9                 72                        1          NaN         6.775497
19                 1                        4  Winter Sale         3.203584

    Website Visit Frequency  Average Cart Value  Total Spent Diff  \
0                         3              378.00               NaN
4                         4              298.68             100.0
9                         4              237.93             250.0
19                        3              234.56             150.0

    Spending Rank  Rolling Return Rate
0            19.0                  NaN
4            15.0             4.259254
9             2.0             6.069533
19           11.5             4.914083

In [9]:
df['High Spender'] = df['Total Spent'].apply(lambda x: 'Yes' if x > 500 else 'No')
print("\n5. High Spender Column:\n", df[['Customer ID', 'Total Spent', 'High Spender']])

5. High Spender Column:
     Customer ID  Total Spent High Spender
0             1          150           No
1             2          600          Yes
2             3          800          Yes
3             4          200           No
4             5          300           No
5             6          450           No
6             7          670          Yes
7             8          120           No
8             9          500           No
9            10          750          Yes
10           11          610          Yes
11           12          290           No
12           13          400           No
13           14          320           No
14           15          510          Yes
15           16          350           No
16           17          550          Yes
17           18          700          Yes
18           19          250           No
19           20          400           No

In [10]:
region_stats = df.groupby('Region')[['Total Spent', 'Discount Availed']].mean()
print("\n6. Region Statistics:\n", region_stats)

6. Region Statistics:
         Total Spent  Discount Availed
Region
East     352.222222         36.666667
North    485.000000         29.750000
South    750.000000         72.000000
West     510.000000         45.166667

In [11]:
pivot = df.pivot_table(values='Total Spent', index='Gender', columns='Region', aggfunc='mean')
print("\n7. Pivot Table (Average Spending by Gender & Region):\n", pivot)

7. Pivot Table (Average Spending by Gender & Region):
 Region        East  North  South        West
Gender
F       393.333333  735.0    NaN  436.666667
M       270.000000  235.0  750.0  583.333333

In [12]:
df['Customer Tenure Quarter'] = pd.cut(df['Customer Tenure (Years)'], bins=[0, 5, 10, 15], labels=['Q1', 'Q2', 'Q3'])
print("\n8. Customer Tenure Quarter:\n", df[['Customer ID', 'Customer Tenure (Years)', 'Customer Tenure Quarter']])

8. Customer Tenure Quarter:
     Customer ID  Customer Tenure (Years) Customer Tenure Quarter
0             1                        4                      Q1
1             2                       12                      Q3
2             3                       12                      Q3
3             4                        7                      Q2
4             5                       12                      Q3
5             6                       13                      Q3
6             7                        8                      Q2
7             8                        3                      Q1
8             9                       14                      Q3
9            10                        1                      Q1
10           11                        4                      Q1
11           12                        2                      Q1
12           13                        8                      Q2
13           14                        4                      Q1
14           15                        2                      Q1
15           16                       14                      Q3
16           17                        6                      Q2
17           18                        6                      Q2
18           19                       10                      Q2
19           20                        4                      Q1

In [13]:
df['Customer Word Count'] = df['Comments'].str.lower().str.count('customer')
print("\n9. Word Count for 'customer':\n", df[['Customer ID', 'Comments', 'Customer Word Count']])

9. Word Count for 'customer':
     Customer ID                         Comments  Customer Word Count
0             1       Satisfied with the service                    0
1             2    Needs improvement in delivery                    0
2             3                 Regular customer                    1
3             4                 Occasional buyer                    0
4             5                     High spender                    0
5             6               Average experience                    0
6             7          Prefers online shopping                    0
7             8                     New customer                    1
8             9               Loyal to the brand                    0
9            10             High conversion rate                    0
10           11                   Low engagement                    0
11           12   Satisfied with product quality                    0
12           13                 Frequent shopper                    0
13           14             Unhappy with returns                    0
14           15                 Enjoys discounts                    0
15           16               Enjoys the product                    0
16           17           Needs more information                    0
17           18  Satisfied with customer service                    1
18           19                   Not interested                    0
19           20                 Likes the design                    0

In [17]:
output_path = path
df.to_excel(output_path, index=False)
print("\n10. Data saved to:", output_path)

10. Data saved to: /content/drive/MyDrive/Dataset/complex_marketing_data_enriched.xlsx

In [18]:
df['Purchased Category'] = df['Purchased Category'].fillna('Unknown')
print("\n11. Filled Missing Values in 'Purchased Category':\n", df[['Customer ID', 'Purchased Category']])

11. Filled Missing Values in 'Purchased Category':
     Customer ID Purchased Category
0             1           Clothing
1             2             Beauty
2             3              Books
3             4             Beauty
4             5              Books
5             6              Books
6             7         Home Goods
7             8         Home Goods
8             9        Electronics
9            10           Clothing
10           11         Home Goods
11           12         Home Goods
12           13             Beauty
13           14        Electronics
14           15        Electronics
15           16        Electronics
16           17              Books
17           18           Clothing
18           19              Books
19           20         Home Goods

In [19]:
campaign_counts = df['Campaign'].value_counts()
print("\n12. Campaign Counts:\n", campaign_counts)

12. Campaign Counts:
 Campaign
Winter Sale     9
Black Friday    4
Summer Sale     2
Name: count, dtype: int64

In [21]:
ratings_df = pd.DataFrame({
    'Customer ID': [1, 2, 3, 4, 5],
    'Rating': [4.5, 3.0, 4.0, 2.5, 5.0]
    })
df = pd.merge(df, ratings_df, on='Customer ID', how='left')
print("\n13. Merged DataFrame with Ratings:\n", df[['Customer ID', 'Rating']])

13. Merged DataFrame with Ratings:
     Customer ID  Rating
0             1     4.5
1             2     3.0
2             3     4.0
3             4     2.5
4             5     5.0
5             6     NaN
6             7     NaN
7             8     NaN
8             9     NaN
9            10     NaN
10           11     NaN
11           12     NaN
12           13     NaN
13           14     NaN
14           15     NaN
15           16     NaN
16           17     NaN
17           18     NaN
18           19     NaN
19           20     NaN

In [22]:
campaign_gender_spending = df.groupby(['Campaign', 'Gender'])['Total Spent'].sum()
print("\n14. Spending by Campaign and Gender:\n", campaign_gender_spending)

14. Spending by Campaign and Gender:
 Campaign      Gender
Black Friday  F         1350
              M          610
Summer Sale   F          250
              M          600
Winter Sale   F         2630
              M          670
Name: Total Spent, dtype: int64

In [23]:
frequent_visitors = df.query('`Website Visit Frequency` > 5')
print("\n15. Frequent Visitors:\n", frequent_visitors[['Customer ID', 'Website Visit Frequency']])

15. Frequent Visitors:
    Customer ID  Website Visit Frequency
1            2                        6
7            8                        7